<!-- Content layout-->
<div class="layout-wrapper layout-content-navbar">                                                                                                         <!-- Layout wrapper -->
  <div class="layout-container">                                                                                                                           <!-- layout-container -->
    <header class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"id="layout-navbar"></header>     <!-- header -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"></aside>                                                                  <!-- Menu -->
    <div class="layout-page">                                                                                                                              <!-- Layout container -->
      <div id="infraDashboard" class="content-wrapper"></div>                                                                                              <!-- Content wrapper -->
      <footer class="content-footer footer bg-footer-theme"></footer>                                                                                      <!-- Footer -->
    </div>                                                                                                                                                 <!-- / Layout page -->
  </div>                                                                                                                                                   <!-- / layout-container -->
  <div class="layout-overlay layout-menu-toggle"></div>                                                                                                    <!-- Overlay -->
  <div class="drag-target"></div>                                                                                                                          <!-- Drag Target Area To SlideIn Menu On Small Screens -->
</div>           